#page-title{

	text-align: center;
}


#picture-container{

	border:1px solid black;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

#image{

	 width: 100%;


	border: 2px solid;
    padding: 20px;
    background: #a3b4c6;
}

#picture-css{

	width: 1000px;
	height:1000px;
	background-image: url(../images/image.jpg);
	margin: 0 auto;
}

#hovers h2{
	text-align: center;
}

#hovers{

	width: 200px;
	height:200px;
	border:1px solid black;
	background-image: url(../images/image.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.9;

}
  
  #hovers:hover {

  	/*background: #000;*/
  	color:white;
  	opacity: 1;
  }
